$light-grey: #cfcfcf;
$medium-light-grey: #384248;
$medium-grey: #384248;
$medium-dark-grey: #4a4a4a;
$dark-charcoal: #2b3236;
$almost-black: #1d2225;
$white: #fff;
$lightest-blue: rgb(197, 233, 255);
$yellow: #f8e71c;
$orange: #f5a623;
$red: #b8182b;
$green: #008000;

$gutter-size: 20px;
$logo-size: 60px;
$warrior-detail-width: 270px;
$warrior-image-small: 50px;
$notification-width: 300px;
