$transition: opacity 300ms ease-in-out;

.dm-notification-list {
  @include media-breakpoint-up('lg') {
    position: fixed;
    right: 1rem;
    top: 1rem;
    width: $notification-width;
    z-index: 1;  
  }
}

.dm-notification-list__item {
  color: $white;
  font-size: 16px;
  list-style-type: none;
  opacity: 0;
  padding: 17px 13px;
  position: relative;
  text-align: right;
  transition: $transition;

  @include media-breakpoint-up('lg') {
    border-radius: 4px;
    box-shadow: -2px 2px 3px 0 rgba(0, 0, 0, .35);
    margin: 0 0 5px;
  }

  &:hover {
    cursor: pointer;
  }

  &:before {
    background-size: contain;
    content: '';
    height: 38px;
    left: 13px;
    position: absolute;
    top: 9px;
    width: 38px;
  }
}

.dm-notification-list__item--visible {
  opacity: 1;
  transition: $transition;
}

.dm-notification-list__item--success {
  background-color: $success-green;

  &:before {
    background: url('#{$icon-directory}/icon-success.svg') no-repeat top left;
  }
}

.dm-notification-list__item--warning {
  background-color: $warning-orange;

  &:before {
    background: url('#{$icon-directory}/icon-warning.svg') no-repeat top left;
  }
}

.dm-notification-list__item--error {
  background-color: $error-red;

  &:before {
    background: url('#{$icon-directory}/icon-error.svg') no-repeat top left;
  }
}

.dm-notification-list__item--chuck {
  background-color: $chuck-grey;

  &:before {
    background: url('#{$icon-directory}/icon-chuck.svg') no-repeat top left;
  }
}
