.dm-warrior {
  @include background-transition;
  background-color: $light-grey;
  height: auto;
  width: 100%;

  &:hover {
    @include background-transition;
    background-color: darken($light-grey, 20%);
  }
  
}

.dm-warrior--small {
  height: $warrior-image-small;
  width: $warrior-image-small;
}
