.dm-header {
  background-color: $dark-charcoal;
  color: $white;
  padding: $gutter-size / 2;
  text-align: center;

  @include media-breakpoint-up('md') {
    padding: $gutter-size;
  }

}

.dm-header__title {
  font-family: 'Phosphate Solid', 'Open Sans', sans-serif;
  font-size: 24px;
  text-transform: uppercase;

  @include media-breakpoint-up('md') {
    font-size: 36px;
  }

}

.dm-header__logo {

}
