.notification-list {
  @include media-breakpoint-up('lg') {
    position: fixed;
    right: 1rem;
    top: 1rem;
    width: $notification-width;
    z-index: 1;  
  }
}

.notification-list__item {
  border: 1px solid;
  color: $white;
  list-style-type: none;
  padding: 10px;
  text-align: left;

  @include media-breakpoint-up('lg') {
    margin: 0 0 5px;
  }

  &:hover {
    cursor: pointer;
  }
}

// notification themes
.notification-list__item--success {
  background-color: $green;
}

.notification-list__item--warning {
  background-color: $yellow;
}

.notification-list__item--error {
  background-color: $red;
}


// css transition group styles
$animation-time: 300ms;

.notification-list__item--enter {
  opacity: .01;
}

.notification-list__item--enter-active {
  opacity: 1;
  transition: opacity $animation-time ease-in-out;
}

.notification-list__item--leave {
  opacity: 1;
}

.notification-list__item--leave-active {
  opacity: .01;
  transition: opacity $animation-time ease-in-out;
}
