.warrior-detail {
  background-color: $medium-dark-grey;
  color: $white;
  font-size: 18px;
  margin-bottom: $gutter-size;
  margin-left: auto;
  margin-right: auto;
  padding: $gutter-size;
  width: $warrior-detail-width;
}

.warrior-detail__caption {
  @extend %clearfix;
  padding-top: 14px;
}

.warrior-detail__name {
  float: left;
  font-style: italic;
}

.warrior-detail__wins {
  float: right;
}
