.warrior-detail {
  background-color: $medium-dark-grey;
  color: $white;
  font-size: 18px;
  margin-bottom: $gutter-size;
  margin-left: auto;
  margin-right: auto;
  padding: $gutter-size / 2;
  width: $warrior-detail-width;

  @include media-breakpoint-up('md') {
    padding: $gutter-size;
  }

}

.warrior-detail__caption {
  @extend %clearfix;

  @include media-breakpoint-up('md') {
    padding-top: 14px;
  }
}

.warrior-detail__name {
  font-style: italic;

  @include media-breakpoint-up('md') {
    float: left;
  }

}

.warrior-detail__wins {
  @include media-breakpoint-up('md') {
    float: right;
  }
}
