.warrior-detail {
  background-color: $medium-dark-grey;
  color: $white;
  font-size: 18px;
  height: $warrior-image-large + 30px + ($gutter-size * 2);
  margin-left: auto;
  margin-right: auto;
  padding: $gutter-size $gutter-size ($gutter-size + 30px);
  width: $warrior-image-large + ($gutter-size * 2);
}

.warrior-detail__caption {
  padding-top: 14px;
}

.warrior-detail__name {
  float: left;
  font-style: italic;
}

.warrior-detail__wins {
  float: right;
}
