.warrior {
  @include background-transition;
  background-color: $light-grey;
  height: $warrior-image-small;
  width: $warrior-image-small;

  &:hover {
    @include background-transition;
    background-color: darken($light-grey, 20%);
  }
  
}

.warrior--large {
  height: $warrior-image-large;
  width: $warrior-image-large;
}
