.dm-sidebar {
  background-color: $almost-black;
  color: $white;
  float: left;
}

.dm-sidebar__section {
  padding: 1rem 1rem 0;
}

.dm-sidebar__section--full-width {
  padding-left: 0;
  padding-right: 0;
}

.dm-sidebar__section:last-child {
  padding-bottom: 1rem;
}

.dm-main {
  float: left;
}