@import '../mixins/media-queries';

.sidebar {
  background-color: $almost-black;
  color: $white;
  float: left;
  width: $sidebar-size;

  @include mobile-only { width: 100%; }

}

.sidebar__title {
  margin-bottom: $gutter;
}
