.dm-table {
  border-collapse: collapse;
  text-align: left;
}

.dm-table__thead {
  background-color: $medium-grey;
}

.dm-table__row {
  @include background-transition;
  border-bottom: 1px solid $medium-light-grey;

  &:nth-child(even) {
    background-color: lighten($almost-black, 5%);
  }

  &:hover {
    @include background-transition;
    background-color: lighten($almost-black, 20%);
  }

}

.dm-table__cell {
  padding: ($gutter-size / 2);

  @include media-breakpoint-up('md') {
    padding: ($gutter-size / 2) $gutter-size;
  }

}
